<!DOCTYPE html>

<!--This is the base/layout web page for the application, it just includes the title, pads the side of the page with boostrap, and has razor code to render the index web page-->
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BookApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="bg-warning p-2">
        <span class="navbar-brand ml-5 text-center" style="font-size:60px; font-weight:bold;">Amazon</span>
    </div>
    <div class="ml-3" style="padding-left:30px; margin-top:40px">
        <div class="row justify-content-between">
            @RenderBody()
        </div>
    </div>
</body>
</html>
