@{
    ViewData["Title"] = "Assignment 8";
}

@model BookListViewModel

<!--This is the main web page of the application
    It displays the books stored in the database with all the attributes associated with a book
    It has built-in navigation menu to filter the books by category
    It also has navigation at the bottom with links to view other books dynamically with the same index web page-->

<div class="col-2">
    <header style="color:darkorange">
        <div class="d-flex flex-column">
            <h1>Book List</h1>
            <div class="d-flex flex-column">
                <vc:navigation-menu />
            </div>
        </div>
    </header>
</div>
<br />
<br />

<div class="col-10">
    <div class="mt-4" style="padding-top: 25px;">
        <div class="mr-5">
            @foreach (var x in Model.Books)
            {
                <partial name="BookSummary" model="x" />
            }

            <div class="ml-5" style="padding-left: 180px;">
                <div page-model="@Model.PagingInfo"
                     page-action="Index"
                     page-url-category="Model.CurrentCategory"
                     page-classes-enabled="true"
                     page-class="btn"
                     page-class-normal="btn-outline-dark"
                     page-class-selected="btn-warning"
                     class="btn-group pull-right m-1"></div>
            </div>
        </div>
    </div>
</div>

